<h1 class="contentBox-location">Kyiv UA{{name}} {{country}}</h1>

<div class="contentBox-cont">

    {{#each this}}
    <div class="contentBox-cont-box">
        <h2 class="contentBox-cont-box-day">{{dayOfWeek}}</h2>
        <h3 class="contentBox-cont-box-date">{{day}} {{month}}</h3>
        <svg class="contentBox-cont-box-icon" width="35" height="35">
            <use href="./images/symbol-defs.svg#{{dayWeatherIcon}}"></use>
        </svg>
        <div class="contentBox-cont-box-cont">
            <div class="contentBox-cont-box-cont-box1">
                <p class="contentBox-cont-box-cont-min">min</p>
                <p class="contentBox-cont-box-cont-minnumb">{{dayMinTemp}}&deg;</p>
            </div>
            <div class="contentBox-cont-box-cont-box2">
                <p class="contentBox-cont-box-cont-max">max</p>
                <p class="contentBox-cont-box-cont-maxnumb">{{dayMaxTemp}}&deg;</p>
            </div>
        </div>
        <a class="contentBox-cont-box-moreInfo" href="">moer info</a>
    </div>

    {{/each}}

</div>
<div class="contentBox-button">

    <svg class="contentBox-button-arrow" data-action="right" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
    </svg>
    <svg class="contentBox-button-arrow" data-action="left" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
    </svg>
</div>